/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color_2);
	color: var(--font);
}

h1 {
	text-align: center;
	margin: 20px auto;
}

h2 {
	font-size: 22px;
}

p {
	font-size: 16px;
}

/* MAIN PAGE */

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	text-align: center;
	list-style-type: none;
	margin-bottom: 20px;
}

.card {
	background-color: var(--color_2);
	border-radius: 12px;
	box-shadow: 2px 2px 4px 4px var(--color_3);
	margin: 10px;
	padding: 15px;
	min-width: 200px;
	max-width: 260px;
	flex-basis: 23%;
	flex-grow: 1;
}

.card img {
	display: block;
	margin: 0 auto;
	width: 5em;
	height: auto;
	border-radius: 5px;
}

.card h2 {
	font-size: 18px;
	margin-top: 10px;
}

.card button {
	background: var(--color_2);
	font-size: 1em;
	border: 0;
}
.card button a {
	color: rgb(6, 125, 236);
	text-decoration: none;
}

.card button a:hover {
	color: rgb(2, 53, 129);
	cursor: pointer;
}

#mainContainer {
	display: block;
	width: 80%;
	margin: 0 auto;
}

#description {
	text-align: justify;
}

/* CONTENT PAGE */

/* MENU */

#contentMenu {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 20px;
}

#sidenav {
	height: 97.5%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--color_3);
	overflow-x: hidden;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-height: 450px) {
	#sidenav {padding-top: 15px;}
	#sidenav a {font-size: 18px;}
}

#logoHome {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logoHome i {
	color: var(--font);
}

#logoHome i:hover {
	color: var(--color_5);
	cursor: pointer;
}

#summaryTitle {
	color: var(--font);
	padding-left: 15px;
}

#summaryItem:hover {
	background-color: var(--color_2);
	border-radius: 5px;
}

#summaryItem a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: var(--light);
	display: block;
}

/* CONTENT */

#contentBody {
	margin-bottom: 20px;
	background-color: var(--color_2);
	margin-left: 20%;
	font-size: 18px;
	padding: 0px 10px;
}

#btnTop {
	position: fixed;
	bottom: 20px;
	right: 25px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: var(--color_3);
	color: var(--font);
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 25px;
}
  
#btnTop:hover {
	background-color: var(--color_4);
}

/* MARKDOWN */

.markdown-body {
  background-color: var(--color_2);
  color: var(--font);
}

.markdown-body p {
	width: 80%;
}

.markdown-body a {
  color: #0366d6;
}

.markdown-body pre {
  background: var(--color_3) !important;
  color: var(--font);
	width: 80%;
}

.markdown-body code {
  background: var(--color_3) !important;
  color: var(--font);
}

.markdown-body th {
	background-color: var(--color_1);
}

.markdown-body tbody tr:nth-child(odd) {
	background-color: var(--color_1);
}

.markdown-body tbody tr:nth-child(even) {
	background-color: var(--color_1);
}

/* BUTTON THEME */

.switch {
	float: right;
	margin-top: -10px;
	margin-right: 15px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #151b6b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .6s;
}

input:checked + .slider {
  background-color: #1797ff;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

@media (max-width: 500px) {
	.gallery {
		flex-direction: column;
		align-items: center;
	}

	.card {
		margin-right: 0;
		width: 200px;
	}
}

@media (max-width: 650px) {
	#contentMenu {
		display: none;
	}

	.main {
		margin-left: 0;
	}

	.content, code {
		width: 100%;
	}
}

@media (max-width: 950px) {
	.markdown-body p {
		width: 100%;
	}

	.markdown-body pre {
		width: 100%;
	}
}