:root {
    --dark: #3a3a3a;
    --light: #cccccc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(36, 36, 36); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }

  
#btnTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: var(--light);
    display: block;
}

.sidenav a:hover {
    color: var(--dark);
}
#summary {
    color: var(--light);
    padding-left: 15px;
}
.summaryItem:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.main {
    margin-left: 20%;
    font-size: 18px;
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
code {
    background-color: var(--dark);
    border-radius: 10px;
    display: block;
    padding: 20px;
    color: rgb(0, 206, 17);
    width: 60%;
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    margin: 0;
}