:root {
    --dark: #3a3a3a;
    --middle: #7e7e7e;
    --light: #cccccc;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px auto;
}

p {
    font-size: large
}

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    align-content: center;
}

.card {
	background-color: white;
	border-radius: 15px;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
	margin: 10px;
	padding: 15px;
	min-width: 200px;
	max-width: 260px;
	flex-basis: 23%;
	flex-grow: 1;
}

.card img {
	display: block;
	margin: 0 auto;
	width: 5em;
	height: auto;
	border-radius: 5px;
}

.card h2 {
	font-size: 18px;
	margin-top: 10px;
}

.card p {
	font-size: 14px;
	color: var(--dark);
	margin-top: 10px;
}

#mainContainer {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#description {
    text-align: justify;
}

#menuTutorials {
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
}

.liTutorial {
    margin-left: -40px;
    margin-bottom: 10px;
}

.btnTutorial {
    color: rgb(6, 125, 236);
    background-color: white;
    font-size: 1em;
    font-family: inherit;
    border: 0;
    padding: 0;
}

.btnTutorial:hover {
    color: rgb(2, 53, 129);
    cursor: pointer;
}

/* CONTENT */

.sidenav {
    height: 97.5%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark);
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#linkHome {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: var(--light);
    display: block;
}

#linkHome:hover {
    cursor: context-menu;
}

#divHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoHome {
    color: var(--light);
}

#logoHome:hover {
    color: var(--middle);
    cursor: pointer;
}

#summary {
    color: var(--light);
    padding-left: 15px;
}

#contentMenu {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 20px;
}

.summaryItem:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.summaryItem:hover .linkMenu {
    color: var(--dark);
}

.linkMenu {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: var(--light);
    display: block;
}

.linkMenu:hover {
    color: var(--middle);
}

.main {
    margin-left: 20%;
    font-size: 18px;
    padding: 0px 10px;
}

.content {
    width: 80%;
    font-family: sans-serif;
    white-space: pre-line;
}

code {
    background-color: var(--dark);
    width: 80%;
    border-radius: 10px;
    display: block;
    padding: 20px;
    color: rgb(0, 206, 17);
    font-size: 0.9em;
    white-space: pre-wrap;
}

#btnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(36, 36, 36); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }

  
#btnTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media (max-width: 500px) {
	.gallery {
		flex-direction: column;
		align-items: center;
	}

	.card {
		margin-right: 0;
		width: 200px;
	}
}

@media (max-width: 650px) {
    #contentMenu {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .content, code {
        width: 100%;
    }
}